/* -------------------------------- */
/* ----------Mobile-screen--------- */
/* -------------------------------- */

 @media only screen and (max-width: 688px){

    /* ------------------Heading-------------- */
    main{
        margin-left: 40px;
    }
    #heading, .container{
        width: 396px;
        height: 100%;
        padding-left: 15px;
    }
    #heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        grid-row-gap: 50px;
    }
    #heading h1{
        font-size: 40px;
    }
    #head-banner img{
        width: 300px;
        height: 260px;
    }


    /* ------------------Container------------- */
    .container{
        display: flex;
        align-items: center;
    }


    /* ------------Player-Section------------- */
    #players-section{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }


    /* -------------Youtube------------------ */
    #utube, #last-results{
        width: 300px;
    }
    #utube iframe{
        width: 390px;
        height: 250px;
    }
    

    /* ------------Results---------------- */
    #last-results #years{
        grid-template-columns: repeat(1, 1fr);
    }
    

    /* -----------------Footer------------- */
    footer{
        width: 300px;
        height: 250px;
    }
    footer img{
        width: 200px;
        height: 70px;
    }
} 